@import 'shared/index';
@import 'reset';
@import 'sections/index';

html {
  font-size: $default-rem;
  font-family: Montserrat;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container { 
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 0px;    
    &--no-paddings {
      padding: 0;
    }
}

.primary-button {
  padding: 10px 40px;
  font-weight: 500;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
}